{
  "groups": {},
  "dials": {
    "0": {
      "id": 1,
      "title": "www.facebook.com",
      "url": "https://www.facebook.com/",
      "thumbnail": "http://farm6.static.flickr.com/5065/5612547553_9469c585fa_o.jpg",
      "ts_created": 1371659692,
      "visits": 104,
      "visits_morning": 26,
      "visits_afternoon": 26,
      "visits_evening": 26,
      "visits_night": 26,
      "position": 999,
      "idgroup": 0
    },
    "1": {
      "id": 2,
      "title": "www.tinhte.vn",
      "url": "http://www.tinhte.vn/",
      "thumbnail": "",
      "ts_created": 1371659692,
      "visits": 22,
      "visits_morning": 5,
      "visits_afternoon": 5,
      "visits_evening": 6,
      "visits_night": 6,
      "position": 999,
      "idgroup": 0
    },
    "2": {
      "id": 3,
      "title": "www.vn-zoom.com",
      "url": "http://www.vn-zoom.com/",
      "thumbnail": "",
      "ts_created": 1371659692,
      "visits": 19,
      "visits_morning": 5,
      "visits_afternoon": 5,
      "visits_evening": 5,
      "visits_night": 6,
      "position": 999,
      "idgroup": 0
    },
    "3": {
      "id": 4,
      "title": "genk.vn",
      "url": "http://genk.vn/",
      "thumbnail": "",
      "ts_created": 1371659692,
      "visits": 15,
      "visits_morning": 4,
      "visits_afternoon": 4,
      "visits_evening": 4,
      "visits_night": 5,
      "position": 999,
      "idgroup": 0
    },
    "4": {
      "id": 5,
      "title": "touch.facebook.com",
      "url": "https://touch.facebook.com/#!/?_rdr",
      "thumbnail": "http://farm6.static.flickr.com/5065/5612547553_9469c585fa_o.jpg",
      "ts_created": 1371659692,
      "visits": 11,
      "visits_morning": 3,
      "visits_afternoon": 3,
      "visits_evening": 3,
      "visits_night": 3,
      "position": 999,
      "idgroup": 0
    },
    "5": {
      "id": 7,
      "title": "www.youtube.com",
      "url": "http://www.youtube.com/",
      "thumbnail": "http://farm6.static.flickr.com/5266/5612548979_9d0135356c_o.jpg",
      "ts_created": 1371659692,
      "visits": 10,
      "visits_morning": 2,
      "visits_afternoon": 2,
      "visits_evening": 2,
      "visits_night": 3,
      "position": 999,
      "idgroup": 0
    },
    "6": {
      "id": 8,
      "title": "chrome.google.com",
      "url": "https://chrome.google.com/webstore/category/extensions?utm_source=chrome-ntp-icon&_sort=1",
      "thumbnail": "http://farm6.static.flickr.com/5221/5612548667_a9b09a2068_o.png",
      "ts_created": 1371659692,
      "visits": 6,
      "visits_morning": 2,
      "visits_afternoon": 2,
      "visits_evening": 2,
      "visits_night": 2,
      "position": 999,
      "idgroup": 0
    },
    "7": {
      "id": 9,
      "title": "translate.google.com.vn",
      "url": "http://translate.google.com.vn/",
      "thumbnail": "http://farm6.static.flickr.com/5221/5612548667_a9b09a2068_o.png",
      "ts_created": 1371659692,
      "visits": 5,
      "visits_morning": 1,
      "visits_afternoon": 1,
      "visits_evening": 1,
      "visits_night": 1,
      "position": 999,
      "idgroup": 0
    },
    "8": {
      "id": 10,
      "title": "mattroinho.site50.net",
      "url": "http://mattroinho.site50.net/",
      "thumbnail": "",
      "ts_created": 1371659692,
      "visits": 5,
      "visits_morning": 1,
      "visits_afternoon": 1,
      "visits_evening": 1,
      "visits_night": 2,
      "position": 999,
      "idgroup": 0
    }
  },
  "settings": {
    "firstTime": "false",
    "options.alwaysNewTab": "0",
    "options.apps.align": "center",
    "options.apps.iconsize": "medium",
    "options.apps.position": "bottom",
    "options.apps.show": "1",
    "options.apps.theme": "dark",
    "options.background": "http://farm6.static.flickr.com/5187/5565047761_c64cd09832_o.jpg",
    "options.backgroundPattern": "",
    "options.backgroundPosition": "left top",
    "options.centerThumbnailsVertically": "1",
    "options.centerVertically": "1",
    "options.colors.bg": "undefined",
    "options.colors.border": "5947CC",
    "options.colors.borderover": "999999",
    "options.colors.dialbg": "FFD9E8",
    "options.colors.dialbginner": "85A0AD",
    "options.colors.dialbginnerover": "FF9C59",
    "options.colors.dialbgover": "FFFFFF",
    "options.colors.title": "273A61",
    "options.colors.titleover": "061533",
    "options.columns": "4",
    "options.defaultGroupName": "Home",
    "options.dialSpace": "69",
    "options.dialspacing": "26",
    "options.dialstyle.corners": "12",
    "options.dialstyle.shadow": "paper",
    "options.dialstyle.titleposition": "bottom",
    "options.fontface": "Helvetica,\"Helvetica Nueue\";arial,sans-serif",
    "options.fontsize": "11",
    "options.fontstyle": "font-weight:normal;font-style:normal;",
    "options.highlight": "1",
    "options.keepActiveGroup": "1",
    "options.order": "position",
    "options.padding": "6",
    "options.refreshThumbnails": "0",
    "options.repeatbackground": "no-repeat",
    "options.scrollLayout": "1",
    "options.showAddButton": "1",
    "options.showContextMenu": "1",
    "options.showOptionsButton": "1",
    "options.showTitle": "1",
    "options.showVisits": "1",
    "options.sidebar": "1",
    "options.sidebar.showApps": "1",
    "options.sidebar.showBookmarks": "1",
    "options.sidebar.showBookmarksURL": "0",
    "options.sidebar.showDelicious": "0",
    "options.sidebar.showHistory": "1",
    "options.sidebaractivation": "position",
    "options.thumbnailQuality": "medium",
    "options.titleAlign": "center",
    "options.useDeliciousShortcut": "0",
    "refreshThumbnail": "",
    "refresh_create": "false",
    "refresh_id": "",
    "refresh_url": "",
    "requestThumbnail": "",
    "sys.cellspacing": "26",
    "sys.cols": "4",
    "sys.containerwidth": "690px",
    "sys.dialheight": "113.55000000000001",
    "sys.dialwidth": "153",
    "sys.rows": "3",
    "sys.rowspacing": "26",
    "v1590": "false"
  }
}
